    <h1>HOLA SOY TODO</h1>

<ul class="list-group">
<% @todos.each do |todos|  %>
  <li class="list-group-item"><%= todos.description %></li>
  <li class="list-group-item"><%= todos.completed %></li>
  <li><%= link_to 'Ir a',new_path %></li>
  <% end %>
  
</ul>